form action="/" method="get" class="searchBox"
    input class="searchInput" type="text" name="search_value" placeholder="Search here!"
    button class="searchButton" href="#"
        img src="img/search_bar.svg" alt=""